
#cardLogin {
  background-color: #f0f0f0;
  border-radius: 15px;
  border: 0.5px solid rgb(86, 86, 86);
  
}
#cardLogin h5 {
  color: #676767;
}

#btnLogin {
  width: 100%;
  background-color: #42bb70;
  border: none;
}

#btnRegister {
  background-color: rgb(37, 125, 101);
  width: 150px;
  border: 0.5px solid rgb(208, 208, 208);
}

#btnRecupere {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 15px;

  display: none;
}

.alert {
  display: none;
}

#mainLogin {
padding-top: 10%;
}