@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #676767;
}

#main {
  height: 100vh;
  background-color: #284b66;
}

/* button FAB */
button.fab {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: none;
  background-color: rgba(80, 202, 108, 0.752);
  font-size: 35px;
  border: 0.5px solid rgb(171, 170, 170);
  color: #edeeee;
}



button.fab.fixed {
  position: fixed;
}

button.fab.botton {
  bottom: 65px;
}

button.fab.right {
  right: 80px;
}

.loadingAddTransaction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


#addTransaction {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px rgb(65, 164, 65);
  
}


/* Loading style */
.loadingMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-wrapp {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27272771;
  z-index: 9999;
}

.ring-2 {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 4px solid #2a85ca;
  border-radius: 100%;
}

.ball-holder {
  position: absolute;
  width: 12px;
  height: 45px;
  left: 17px;
}

.ball {
  position: absolute;
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #128be8;
}

.load-5 .ball-holder {
  animation: loadingE 1.3s linear infinite;
}

@keyframes loadingE {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
